.search-line{
    margin-top: 40px;
    display: flex;
    font-family: var(--dm-sans);
    font-size: var(--xm-size);;
}
.search-bar{
    height: 32px;
    border-radius: 20px;
    border: black 1px solid;
    align-content: center;
    margin-right: 20px;
    width: 332px;
    color: var(--secondary-color);
    padding-left: 18px;
}
.search-button{
    height: 32px;
    width: 89px;
    border-radius: 20px;
    color: white;
    background-color: black;
    border: black 1px solid;
    align-content: center;
    text-align: center;
    cursor: pointer;
}