:root {
  /* Цвета */
  --primary-color: #0000b4;
  --secondary-color: #6b6666;
  --text-color: #333333;

  /* Шрифты */
  --dela: 'Dela Gothic One', sans-serif;
  --dm-sans: 'DM Sans', sans-serif;

  /* Размеры */
  --xxl-size: 48px;
  --xl-size: 40px;
  --l-size: 32px;
  --ml-size: 24px;
  --m-size: 20px
  --xm-size: 16px;
  --s-size: 14px;
  --xs-size: 12px;
  --xxs-size: 10px;

  /* Отступы */
  --spacing-default: 10.417vw;
}