body{
    margin: 0;
    width: 100%;

}
.HelloPage{
    position: relative;
    height: 693px;
}
.HelloPage-img{
    width: 100%;
    height: 693px;
}
.HelloPageTitle{
    font-family: var(--dela);
    font-size: var(--xxl-size);
    text-align: center;
    margin-top: 240px;
    margin-bottom: 70px;
}
.HelloPageTitleDiscription{
    font-family: var(--dm-sans);
    font-size: var(--m-size);
    margin-bottom: 18px;
    height: 175px;
    margin: 0 280px;
}

.HelloPage-Content{
    margin: 0 var(--spacing-default);
    font-family: var(--dela);
    margin-top: -740px;
    position: absolute;
    color: white;
    text-align: center;
}

.subscribe{
    margin: 0 var(--spacing-default);
}
.subscribe-title{
    font-family: var(--dela);
    font-size: var(--ml-size);;
    margin-top: 150px;
    color: var(--primary-color);
    margin-bottom: 25px;
}
.subscribe-block{
    font-family: var(--dm-sans);
    font-size: var(--xm-size);;
    height: 34px;
    display: flex;
    gap: 18px;
    margin-bottom: 70px;
}
.mail-input{
    width: 299px;
    align-content: center;
    border: black 1px solid;
    color: var(--primary-color);
    padding-left: 16px;
    border-radius: 20px;
}
.sub-btn{
    border: black 1px solid;
    width: 123px;
    border-radius: 20px;
    color: white;
    align-content: center;
    text-align: center;
    background-color: black;
    cursor: pointer;
}