body{
    margin: 0;
    width: 100%;

}
.HelloPage{
    position: relative;
    height: 693px;
}
.HelloPage-img{
    width: 100%;
    height: 693px;
}
.HelloPageTitle{
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-top: 240px;
    margin-bottom: 70px;
}
.HelloPageTitleDiscription{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 18px;
    height: 175px;
    margin: 0 280px;
}

.HelloPage-Content{
    margin: 0 10.417vw;
    font-family: 'Dela Gothic One', sans-serif;
    margin-top: -740px;
    position: absolute;
    color: white;
    text-align: center;
}

.subscribe{
    margin: 0 10.417vw;
}
.subscribe-title{
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 24px;
    margin-top: 150px;
    color: #0000b4;
    margin-bottom: 25px;
}
.subscribe-block{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    height: 34px;
    display: flex;
    gap: 18px;
    margin-bottom: 70px;
}
.mail-input{
    width: 299px;
    align-content: center;
    border: black 1px solid;
    color: #6B6666;
    padding-left: 16px;
    border-radius: 20px;
}
.sub-btn{
    border: black 1px solid;
    width: 123px;
    border-radius: 20px;
    color: white;
    align-content: center;
    text-align: center;
    background-color: black;
    cursor: pointer;
}