body{
    margin: 0;
    width: 100%;
}

.image-container {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 450px;
}
.parking-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.parking-title{
    margin: 0 var(--spacing-default);
    font-size: var(--xxl-size);
    font-family: var(--dela);
    margin-top: -220px;
    position: absolute;
    color: white;
}

.parking-info{
    height: 270px;
    margin: 0 var(--spacing-default) 65px var(--spacing-default);
}
.parking-info-cards{
    align-self: center;
    display: flex;
    gap: 58px;
    align-items: center;
    margin-top: 73px;
    margin-left: 15px;
    margin-bottom: 42px;
}
.parking-info-card{
    width: 353px;
    height: 166px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), /* Мягкая тень */
                -2px -2px 4px rgba(0, 0, 0, 0.25);
}
.info-card-title{
    font-size: 28px;
    font-family: var(--dela);
    color: var(--primary-color);
    margin-top: 25px;
    margin-left: 27px;
}
.info-card-discription{
    font-size: var(--m-size);
    font-family: var(--dm-sans);
    margin-left: 27px;
    width: 300px;
    margin-top: 20px;
}
.parking-add-button{
    font-size: var(--s-size);;
    font-family: var(--dm-sans);
    color: var(--primary-color);
    height: 29px;
    width: 176px;
    border-radius: 20px;
    border: var(--primary-color) 1px solid;
    text-align: center;
    align-content: center;
    margin-right: var(--spacing-default);
    right: 0;
    position: absolute;
    cursor: pointer;
}